@import url("https://fonts.googleapis.com/css?family=Prompt");
section{
    background-color:darkslategray;
    display: flex !important ;
    flex-direction: column;
    align-items: center;
    position: relative;
 
}
h6 {
    color: burlywood !important;
    
    padding: 3px;
    margin:10px 0 3px 0 !important;
   
    
}
input {
    width: 80%;
    font-size: 10px !important;

}
.flex_self_button{
    margin:5px 0 3px 10%;
    position: relative;
    align-self: flex-start;
}